[submodule "Foundations-of-Machine-Learning-Course-Final-Project"]
	path = Foundations-of-Machine-Learning-Course-Final-Project
	url = https://github.com/maj2idfar/Foundations-of-Machine-Learning-Course-Final-Project.git
